:root {
    --main-bg-color: #447CFC;
  }

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

/* start header/navbar styling */

#top  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black !important;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.568);
    background-color: white;
    height: 10vh;
}


#header, #title-section {
    margin: 10px 0 10px 0%;
    padding: 0;
}

#title-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 2vw;
    line-height: 2vw;
    text-align: center;
}

#title {
    width: 80%;
    letter-spacing: 5px;
}

#run-balance-header {
    width: 30%;
}

#header {
    width: 30%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.header-menu {
    height: 100%;
	font-size: 1.3vw;
    line-height: 1.3vw;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#run-balance-header .header-menu{
	font-size: 1.3vw;
    line-height: 1.3vw;
    letter-spacing: 3px;
}

.header a {
    color: black;
    height: 100%;
    width: 33%;
}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2%;
    padding: .5%;
}

#socials a {
    width: 20%;
    margin: 1%;
}

#socials a:hover {
    opacity: .8;
}

#logo-img {
    width: 20%;
}

#logo-img img {
    border: .5vw black solid;
    border-radius: 50%;
}

#logo-img:hover {
    opacity: .8;
}

/* end header/navbar styling */

#bottom-socials {
    width: 20%;
    margin: auto;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#bottom-socials a {
    width: 4vw;
    height: 4vw;
}

@media screen and (max-width: 991px) {
    /* start header-navbar styling */

    #top {
        display: initial;
    }

    .w-container {
        width: 90%;
    }

    #title-section {
        width: 100%;
        border-right: none;
        font-size: 5vh;
        line-height: 5vh;
        background-color: white;
        padding-top: 20px !important;
        margin: 0;
        padding: 2%;
    }

    #title svg {
        width: 70%;
    }

    #socials {
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        width: 100%;
    }

    #socials a {
        width: 10%;
    }

    #logo-img {
        width: 20%;
    }

    #logo-img img {
        border-width: 5px;
    }
    
    #title {
        width: 100%;
        letter-spacing: 3px;
    }

    #header {
        width: 100%;
        border-left: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* Mobile Navbar animations */
      
    #expand-container {
        overflow: hidden;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.568);
    }
    
    #mobile-nav-menu {
        margin-top: -100%;
        transition: all 0.4s;
    background-color: white;
    }
    
    #mobile-nav-menu.expanded {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        margin-top: 0;
    }


    @-webkit-keyframes slide-in {
        100% {
          -webkit-transform: translateY(0%);
          transform: translateY(0%)
        }
    }

    @-webkit-keyframes slide-out {
        100% {
          -webkit-transform: translateY(-100%);
          transform: translateY(-100%)
        }
    }

    @keyframes slide-in {
        100% {
            transform: translateY(0%)
        }
    }

    @keyframes slide-out {
        100% {
            transform: translateY(-100%)
        }
    }

    .expanded {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        opacity: 1;
        animation: slide-in 1s linear;
        -webkit-animation-name: slide-in;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
    }

    .collapsed {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        animation: slide-out 1s linear;
        -webkit-animation-name: slide-out;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
    }

    /* end mobile navbar animations*/

    .header-menu, #run-balance-header {
        font-size: 3.3vh;
        line-height: 3.3vh;
        text-align: left;
        width: 100%;
    }

    #mobile-balance{
        justify-content: start !important;
        text-align: left;
    }

    .header a {
        width: 100%;
    }
    
    #navbar {
        touch-action: manipulation;
        width: 10%;
        background-color: white;
        background-image: url("../images/burger.png");
        background-size: 100% 100%;
    }

    #mobile-wallet-connect-div {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0px 3px rgba(0, 0, 0, 0.568);
    }

    #mobile-wallet-connect-div .button {
        min-height: 6vh;
    }

    /* end header/navbar styling */


    p {
        padding: 20px;
        margin: 0;
        font-size: 20px;
    }

    .section-title {
        font-size: 3vh;
        text-align: center;
    }

    .body-heading {
        text-align: center;
        margin: 0;
        margin-top: 10px;
    }

    #bottom-socials {
        width: 95%;
        padding: 2vh;
    }

    #bottom-socials a {
        width: 7vh;
        height: 7vh;
    }
}