.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.65);
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;

	.popup-inner {
		width: 500px;
		max-width: 500px;
		background: white;
		padding: 40px;
		box-sizing: border-box;
		box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	}

	.description {
		font-size: 18px;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
