body {
	background: #eeeeee;
}

.container {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.title-with-line {
	position: relative;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	.title {
		background: #eee;
		display: inline-block;
		position: relative;
		padding-right: 20px;
	}
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		margin-top: 3px;
		height: 1px;
		width: 100%;
		background: #ccc;
	}
}

.refresh-cache {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 10;
	display: flex;
	align-items: center;
	padding: 15px;
	background: white;
	cursor: pointer;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

	svg {
		display: block;
		width: 20px;
		margin-right: 10px;
	}

	@include below($md) {
		display: none;
	}
}

#pending-transactions {
	position: fixed;
	left: 30px;
	bottom: 30px;
	z-index: 10;
	padding: 15px 25px;
	border-radius: 40px;
	background: black;
	color: white;
	cursor: pointer;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	width: 300px;
	&:empty {
		display: none;
	}
}

.link {
	text-decoration: underline;
}
