#stake-stats {
	.stat-item {
		padding: 25px;
		text-align: center;
	}

	.stat-number {
		font-size: 30px;
		font-weight: bold;
	}

	.stat-detail {
		line-height: 1.35;
	}

	// responsive
	@include above($lg) {
		.stat-item {
			&:not(:last-child) {
				border-right: 1px solid #eee;
			}
		}
	}
	@include below($lg) {
		.stat-item {
			padding: 20px;
		}
		.stat-item {
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				border-bottom: 1px solid #eee;
			}
			&:nth-child(1) {
				border-right: 1px solid #eee;
			}
		}
	}
}

#stake-controls-container {
	padding: 15px 0;
	z-index: 10;
	backdrop-filter: saturate(180%) blur(50px);
	-webkit-backdrop-filter: saturate(180%) blur(100px);
	-moz-backdrop-filter: saturate(180%) blur(100px);

	// responsive
	@include above($md) {
		position: sticky;
		position: -webkit-sticky;
		top: 80px;
	}
}

.stake-controls-list {
	.box {
		text-align: center;
		padding: 25px;
		&:not(:last-child) {
			border-right: 1px solid #eee;
		}
	}

	.stake-buttons {
		margin-top: 15px;
	}

	// responsive
	@include below($md) {
		.box {
			&:not(:last-child) {
				border-bottom: 1px solid #eee;
				border-right: none;
			}
		}
	}
}

// runners
#runners {
	.runner {
		> * {
			position: relative;
		}
		&.active {
			.runner-status.staked {
				border-color: #e74c3c;
			}
			.runner-status.unstaked {
				border-color: $blue;
			}
		}
		&:hover {
			.image-wrapper img {
				mix-blend-mode: unset !important;
			}
		}
	}

	.runner-status {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		transition: .3s all ease;
		border: 4px solid transparent;
		&.staked + .image-wrapper {
			img {
				mix-blend-mode: luminosity;
			}
		}
	}

	// responsive
	@include below($lg) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include below($md) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include below($sm) {
		grid-template-columns: repeat(1, 1fr);
	}
}
